:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #868492;
  background-color: 	#31363e;
}

@media (max-width: 450px){
  #wrapper {
    width:275px;
    height: 100%;
  }
  #place{
    font-size: 10px;
    position: relative;
    top: 50%;
    left: 63.5%;
    z-index: 0;
    max-width: fit-content
  }
  select{
    width: 60%;
  }
}
