:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #868492;
  background-color: 	#31363e;
}

/* mobile scaling */
@media (max-width: 450px){
    #wrapper {
      width:375px;
      height: 100%;
      position: relative;
      left: 1%;
    }
    #place{
      position: relative;
      top: -110px;
      left: 58%;
      z-index: 0;
      max-width: fit-content
    }
    select{
      width: 80%;
    }
    footer{
    position: relative;
    bottom: 0;
    left: 25px;
    }
    h1{
      top: 20%:
    }
    h2{
      top: 45%
    }
    #container{
    top: 30%
  }
}
